body {
    font-family: 'Roboto Mono',monospace;
    text-align:center;
    background-image: url('https://i.pinimg.com/originals/2b/a9/f5/2ba9f52259be0c97c2b6cf958120af64.jpg');
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 20px;
  }
  
  .page-title {
    color: #ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right:10px;
  }
  
  .video {
    width: 490px;
    height: 300px;
    position: absolute;
    top: 270px;
    left:750px;
  }
    

.text{
  width: 900px; /* Largura do container do texto*/
  font-size: 19px; /* Tamanho da fonte */
  font-weight: bold; /* Grossura de fonte */
  font-family: "Arial", sans-serif; /* Estilo de fonte */
  text-align: justify; /* Alinhamento*/
  margin-top: 100px;
  margin-left: 170px;
  color:#ffffff
}